body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-right: 20px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #4CAF50;
}

.navbar .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
}

input[type="file"] {
    display: none;
}

label.upload-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

label.upload-btn:hover {
    background-color: #45a049;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: medium;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

#jsonResult {
    /* white-space: pre-wrap;
    word-wrap: break-word;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    margin: 23px;
}
#copyButton{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    /* font-size: medium; */
    position: absolute;
    right: 60px;
    top: 467px;
    margin: 8px;
}
#downloadButton{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    /* font-size: medium; */
    position: absolute;
    right: 142px;
    top: 467px;
    margin: 8px;
}


