<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV to JSON Converter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>

<div class="navbar">
    <a href="#" class="logo">CSV to JSON Converter</a>
    <div>
        <a href="#"><i class="fas fa-home"></i> Home</a>
        <a href="#"><i class="fas fa-info-circle"></i> About</a>
        <a href="#"><i class="fas fa-envelope"></i> Contact</a>
        <a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>
</div>

<div class="container">
    <h1>Upload the file here</h1>
    <form action="/convert" method="post" enctype="multipart/form-data">
        <label class="upload-btn" for="fileInput"><i class="fas fa-upload"></i> Upload CSV File</label>
        <input type="file" id="fileInput" name="csvfile" accept=".csv">
        <span id="fileName"></span>
        <button type="submit"><i class="fas fa-file-alt"></i> Convert</button>
    </form>
    <div id="jsonResult"></div>
    <button id="copyButton" style="display: none;">Copy</button>
    <button id="downloadButton" style="display: none;"><i class="fas fa-download"></i> Download JSON</button>

</div>

<script src="static/script.js"></script>

</body>
</html>

